<div class="row">
    <div class="col-4">
        <div class="text-center">asd</div>
    </div>
    <div class="col-4">
        <div class="text-center">asd</div>
    </div>
    <div class="col-4">
        <div class="text-center">asd</div>
    </div>
</div>