<div class="row">
    <div class="col-12">
        <div class="text-center">
            <i>
                <h2>Kullanmadığın eşyan mı var ? Sen de hemen <a href="https://express-blog-project.herokuapp.com/addPost">şimdi</a> ilanını ver, dakikalar içinde satılsın</h2>
            </i>
        </div>
    </div>
</div>