<div class="card mb-3">
  {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.price }} ₺</p>
    <p class="card-text">{{ post.description }}</p>
  </div>
</div>